<div class="home">
  <div class="container-principal">
    <div class="imagem">
      <img src="assets/familia-feliz.jpeg" alt="Família feliz">
    </div>
    <div class="texto">
      <h2>Seja Bem-Vindo</h2>
      <p>Nossa API foi desenvolvida para simplificar e agilizar a criação de receitas e prontuários médicos. Integrando tecnologia moderna com as necessidades do dia a dia da prática clínica, ela permite que profissionais da saúde gerem documentos médicos de forma segura, padronizada e eficiente. Com funcionalidades intuitivas, nossa solução contribui para reduzir erros, otimizar o tempo de atendimento e garantir maior organização das informações dos pacientes. Ideal para clínicas, consultórios e sistemas de gestão, a API oferece flexibilidade para integrar-se facilmente a diferentes plataformas.</p>
    </div>
  </div>
  <div id="teste-api">
    <div class="teste-api__content">
      <h2>Teste Agora a NexusAI!</h2>
      <p>Teste nossa aplicação vinculada a Inteligência Artificial agora mesmo!</p>
      <button (click)="navegarParaIA()">NexusAI</button>
    </div>
  </div>
  <div id="sobre">
    <app-sobre></app-sobre>
  </div>
</div>

