.container-principal{
  display: flex;
  background-color: #02244f;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
  padding: 5vh;
}
.imagem{
  margin-right: 5vh;
}
.imagem img{
  height: 30rem;
  width: 30rem;
  border-radius: 16%;
  border: solid white 2px;
}
.texto{
  color: white;
}
