<div class="container-principal">
  <div class="imagem">
    <img src="assets/familia-feliz.jpeg" alt="Família feliz">
  </div>
  <div class="texto">
    <h2>Seja Bem-Vindo</h2>
    <p>Nossa API foi desenvolvida para simplificar e agilizar a criação de receitas e prontuários médicos. Integrando tecnologia moderna com as necessidades do dia a dia da prática clínica, ela permite que profissionais da saúde gerem documentos médicos de forma segura, padronizada e eficiente. Com funcionalidades intuitivas, nossa solução contribui para reduzir erros, otimizar o tempo de atendimento e garantir maior organização das informações dos pacientes. Ideal para clínicas, consultórios e sistemas de gestão, a API oferece flexibilidade para integrar-se facilmente a diferentes plataformas.</p>
  </div>
</div>

