<main class="container-geral">
  <div class="container" style="background-image: url('assets/imgNexusAi.png/Rectangle 1.png');background-repeat: no-repeat;background-position: center;background-size: cover;">
    <div class="header">
      <div class="pessoas">
        <div class="menu">
          <button class="toggle-btn" (click)="toggleDropdown('medicos')">☰ {{inputDoctors}}</button>
          <ul id="medicos" class="dropdown hidden" >
            <li *ngFor="let doctor of doctors" (click)="selecionarDoutor(doctor.nome)">{{doctor.nome}}</li>
          </ul>
          <button class="toggle-btn" (click)="toggleDropdown('pacientes')">☰ {{inputPacientes}}</button>
          <ul id="pacientes" class="dropdown hidden">
            <li *ngFor="let paciente of pacientes" (click)="selecionarPaciente(paciente.nome_completo)">{{paciente.nome_completo}}</li>
          </ul>
          <button class="toggle-btn" (click)="toggleDropdown('cid')">☰ {{inputCid}}</button>
          <ul id="cid" class="dropdown hidden">
            <li *ngFor="let cid of cids" (click)="selecionarCid(cid.descricao)">{{cid.descricao}}</li>
          </ul>
        </div>
      </div>
    </div>

    <form class="container-relatorio" (ngSubmit)="enviarRelatorio()" #relatorioForm="ngForm">
      <div class="input-wrapper">
        <label for="textArea" class="floating-label">Descreva o relatório</label>
        <input type="text" name="relatorioEntrada" id="textArea" class="input-text" [(ngModel)]="textoRelatorio" required/>
        <button type="submit" class="toggle-btn">Gerar relatório</button>

      </div>
    </form>


    <footer class="footer">
      <div class="imgMedico">
        <img src="assets/imgNexusAi.png/Group 6 (1).png" alt="imagem médico">
      </div>


      <div class="imgMouse">
        <img src="assets/imgNexusAi.png/Group 2.png" alt="imagem mouse">
      </div>
    </footer>
  </div>
</main>
