<main class="container">
    <div class="header">
      <div class="pessoas">
        <div class="menu">
          <button class="toggle-btn" (click)="toggleDropdown('medicos')">☰ {{inputDoctors}}</button>
          <ul id="medicos" class="dropdown hidden" >
            <li *ngFor="let doctor of doctors" (click)="selecionar(doctor.nome)">{{doctor.nome}}</li>
          </ul>
          <button class="toggle-btn" (click)="toggleDropdown('pacientes')">☰ {{inputPacientes}}</button>
          <ul id="pacientes" class="dropdown hidden">

            <li *ngFor="let paciente of pacientes">{{paciente.nome_completo}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-relatorio">
      <div class="input-wrapper">
        <label for="textArea" class="floating-label">Descreva o relatório</label>
        <input type="text" name="relatorio-saida" id="textArea" class="input-text" />
      </div>

      <div class="relatorio-entrada"></div>
    </div>
  </main>
