nav {
    color: #02244f;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    flex-grow: 1;
    gap: 1.5em;
}

img {
    width: 200px;
    padding: 0;
}

.menu img {
    width: 100px;
}

a {
  text-decoration: none;
  color: #02244f;
  font-size: 22px;
}
