nav {
    color: #02244f;
    display: flex;
    align-items: center;
    height: 6em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    flex-grow: 1;
    gap: 1.5em;
    font-size: clamp(12px, 3vw, 22px);
}

img {
    width: 14.6vw;
    padding: 0;
}

.menu img {
    width: 100px;
}

a {
  text-decoration: none;
  color: #02244f;
  font-weight: bold;
}
