.about-container {
  background-color: #02244f;
  height: 70vh;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fonte-principal);
  padding: 5vh;
}
  
  .about-container h1,
  .about-container h2 {
    color: white;
  }
  
  .about-container h1 {
    text-align: center;
    font-size: 2.5em;
  }

  .about-container p,
  .about-container li {
    font-size: 1.2em;
    color: white;
  }
  