.about-container {
  background-color: #02244f;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fonte-principal);
  padding: 5vh;
}

  .about-container h2,
  .about-container h3 {
    color: white;
  }

  .about-container h2 {
    text-align: center;
    font-size: clamp(20px, 6vw, 40px);
  }

  .about-container p,
  .about-container li {
    font-size: clamp(10px, 3vw, 20px);
    color: white;
  }
