<div class="about-container">
    <h1>Sobre a Empresa</h1>
    <p>
      A <strong>NexusCare</strong> é uma equipe em formação, com expertises em diferentes tecnologias, unidos por um objetivo em comum: desenvolver soluções para a área da saúde utilizando IA. Começamos com a automação de relatórios médicos simples, evoluindo para a geração de prescrições assertivas e recomendações baseadas em CID, por meio  do uso de inteligência artificial.
    <h2>Nossa Missão</h2>
    <p>
        Queremos resolver a perda de tempo dos médicos com a digitação manual de relatórios e prescrições simples, permitindo que foquem mais no atendimento ao paciente, com apoio de uma IA que automatiza e estrutura essas tarefas de forma eficiente e segura.
    </p>
  
    <h2>Valores</h2>
    <ul>
      <li>Inovação</li>
      <li>Transparência</li>
      <li>Compromisso com o cliente</li>
      <li>Excelência</li>
    </ul>
  </div>
  
