<div class="footer">
  <div class="about-us">
    <h2>Sobre nós</h2>
    <p>A <strong>NexusCare</strong> é uma equipe em formação, com expertises em diferentes tecnologias, unidos por um objetivo em comum: desenvolver soluções para a área da saúde utilizando IA. Começamos com a automação de relatórios médicos simples, evoluindo para a geração de prescrições assertivas e recomendações baseadas em CID, por meio  do uso de inteligência artificial.</p>
  </div>
  <span></span>
  <div  class="contact">
    <h2>Contatos</h2>
    <p><mat-icon>email</mat-icon> contato&#64;nexuscare.com</p>
    <p><mat-icon>call</mat-icon> (47) 97070-6070</p>
    <p><mat-icon>folder code</mat-icon> <a href="https://github.com/dennerborba/hackaton-front">GitHub</a></p>
  </div>
</div>
