.footer{
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  padding: 1vh 1vw 1vh 1vw;
  color: #02244f;
  background-color: rgb(214, 217, 219);
}
.logo{
  width: 60vw;
}
.logo img{
  height: 30vh;
  width: 30vw;
}
.contact{
  width: 30vw;
  text-align: left;
  margin-left: 380px;
  margin-top: 30px;
}
span{
  height: 100%;
  background-color: #02244f;
  width: 1px;
  margin: 1vw;
}
.contact p{
  display: flex;
  align-items: center;
  font-size: clamp(10px, 3vw, 18px);
}
.contact p a{
  text-decoration: none;
  color: #02244f;
}
.contact p mat-icon{
  margin-right: 0.5vw;
}
p{
  font-size: clamp(10px, 3vw, 18px);
}
h2{
  font-size: clamp(16px, 5vw, 32px);
}
